<div class="small p-2">
    <div class="row py-2 {{dn.confirmed==0?'text-muted':''}}" ng-repeat="dn in table">
        <div class="col italic">
            <div class="col">
                <strong>
                    <span ng-if="dn.ha==1">Hamba Allah</span>
                    <span ng-if="dn.ha!=1">{{dn.name}}</span>
                </strong>
            </div>
            <div class="col">{{helper.toPhoneAlias(dn.phone)}}</div>
        </div>
        <div class="col text-end">
            <div class="col">&nbsp;</div>
            <div class="col"><strong>{{helper.toCurrency(dn.amount)}}</strong></div>
        </div>
    </div>
</div>
<div class="p-2 text-center" ng-if="!table.length">
    <h4>Belum Ada donatur</h4>
    <div class="mb-3">Jadilah anda yang pertama kali berdonasi</div>
    <div class="">
        <button type="button" class="btn btn-primary" ng-click="openFormDonasi(campaign)">
            <span class="fa fa-heart"></span>&nbsp;&nbsp;Donasi
        </button>
    </div>
</div>
