

<div class="col small p-2">
    <div class="row text-success py-2">
        <div class="col italic">
            <div class="col"> <strong>Agus Ariyanto</strong> </div>
            <div class="row small">
                <div class="col">
                    0989707097
                </div>
                <div class="col">
                    Jakarta
                </div>
            </div>
        </div>
        <div class="col text-end">
            <div class="col small">&nbsp;</div>
            <div class="col"><strong>1.000.000</strong></div>
        </div>
    </div>
    <div class="row text-muted py-2">
        <div class="col italic">
            <div class="col"> <strong>Agus Ariyanto</strong> </div>
            <div class="row small">
                <div class="col">
                    0989707097
                </div>
                <div class="col">
                    Jakarta
                </div>
            </div>
        </div>
        <div class="col text-end">
            <div class="col small">&nbsp;</div>
            <div class="col"><strong>1.000.000</strong></div>
        </div>
    </div>
</div>
