<div class="text-end">
    <button type="button" class="btn btn-outline-secondary">
        <span class="fa fa-plus"></span>
    </button>
</div>
<div class="p-3 border-bottom">
    <h3>Title Campaign</h3>
    <div class="row">
        <div class="col-md-1 col-3">
            <img src="api/upload/2.jpg" class="img-fluid">
        </div>
        <div class="col-md-1 col-3">
            <img src="api/upload/3.jpg" class="img-fluid">
        </div>
        <div class="col-md-1 col-3">
            <img src="api/upload/4.jpg" class="img-fluid">
        </div>
    </div>
    <div class="mb-3 small">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="mb-3 small">
        <div class="row">
            <div class="col">
                Rekening : BNI 34234234234 Agus Ariyanto
            </div>
            <div class="col">
                Contact : 08123442334 Agus Ariyanto
            </div>
        </div>
        <div class="row">
            <div class="col">
                Amount : 12098098
            </div>
            <div class="col">
                Goal : 10980980
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-outline-success btn-sm">
                <span class="fa fa-paper-plane"></span>&nbsp;&nbsp;Rilis
            </button>
            <button type="button" class="btn btn-outline-dark btn-sm">
                <span class="fa fa-file"></span>&nbsp;&nbsp;Draft
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm">
                <span class="fa fa-edit"></span>&nbsp;&nbsp;Edit
            </button>
            <button type="button" class="btn btn-danger btn-sm">
                <span class="fa fa-briefcase"></span>&nbsp;&nbsp;Close
            </button>
        </div>
    </div>
</div>

<form class="px-2">
    <div class="separator-double"></div>
    <div class="form-floating mb-3">
        <input id="title" type="email" class="form-control" placeholder="name@example.com">
        <label for="title">Title</label>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input id="goal" type="email" class="form-control" placeholder="name@example.com">
                <label for="goal">Goal</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input id="start" type="text" ng-model="tanggal_iso" class="form-control form-control-sm" date-time
                auto-close="true" view="date" min-view="date" max-view="year"
                format="dd/MM/yyyy" watch-direct-changes placeholder="Tanggal">
                <label for="start">Start</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input id="stop" type="text" ng-model="tanggal_iso" class="form-control form-control-sm" date-time
                auto-close="true" view="date" min-view="date" max-view="year"
                format="dd/MM/yyyy" watch-direct-changes placeholder="Tanggal">
                <label for="stop">Stop</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <select  id="rekening" class="form-select" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="rekeningt">Contact</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <select  id="contact" class="form-select" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="contact">Contact</label>
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <textarea id="content" class="form-control" style="height:100px;"></textarea>
        <label for="content">Content</label>
    </div>
    <input type="file" name="photo_upload"
        onchange="angular.element(this).scope().photoOnChange(this)"
        accept="image/xpng, image/jpeg"
        style="display: none;"
        id="photo-upload">

    <div class="mb-3">
        <button type="button" class="btn btn-outline-secondary">
            <span class="fa fa-plus"></span>&nbsp;&nbsp;image
        </button>

        <div class="row">
            <div class="col-md-2 col-3">
                <div class="text-end mb-1">
                    <button type="button" class="btn btn-danger btn-sm">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <img src="api/upload/1.jpg" class="img-fluid">
            </div>
            <div class="col-md-2 col-3">
                <div class="text-end mb-1">
                    <button type="button" class="btn btn-danger btn-sm">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <img src="api/upload/1.jpg" class="img-fluid">
            </div>

        </div>
    </div>
    <div class="p-3 border-top text-end">
        <button type="button" class="btn btn-light">Cancel</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-secondary">Save as Draft</button>
        <button type="button" class="btn btn-primary">Publish</button>
    </div>



</form>
