<div class="grey-backdrop" alt-component="public/donatur-form" data-scope="donatur_form" ng-show="tab==1">
    <!-- form donasi -->
</div>

<div alt-component="public/picture" data-scope="picture" ng-show="child_tab==2"></div>


<div class="offcanvas offcanvas-end" id="offcanvas-right" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <strong class="offcanvas-title {{comment.campaign.theme_txt}}">{{comment.campaign.title}}</strong>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" alt-component="public/comment" data-scope="comment" ng-show="child_tab==0">
        <!-- comment form & list -->
    </div>
    <div class="offcanvas-body" alt-component="public/donatur" data-scope="donatur" ng-show="child_tab==1">
        <!-- donatur -->
    </div>
</div>

<div class="offcanvas offcanvas-start" id="offcanvas-left" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header bg-primary bg-gradient">
      <h5 class="offcanvas-title"><span class="brand-icon fa fa-adjust"></span>FUNDRAISER</h5>
      <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="padding-left:0;padding-right:0">

        <span class="menu" ng-click="tab=1">
            <span class="icon fa fa-book"></span> Arsip
        </span>
        <span class="menu" ng-click="tab=1">
            <span class="icon fa fa-comments"></span> FAQ
        </span>
        <span class="menu" ng-click="tab=1">
            <span class="icon fa fa-users"></span> Tentang Kami
        </span>
    </div>
 </div>

 <div class="row py-3 px-2">
     <div class="col-1">
         <button type="button" class="btn btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-left">
             <span class="fa fa-bars"></span>
         </button>
     </div>
     <div class="col-11">
         <div class="input-group mb-3">
             <input type="text" class="form-control" ng-model="filter_name">
             <button class="btn btn-outline-secondary">
                 <span class="fa fa-search"></span>
             </button>
         </div>

     </div>

 </div>

<div class="border-bottom {{c.theme_border}} mb-3" ng-repeat="c in table | filter:filter_name ">
    <div class="{{c.theme_bgtxt}} p-1">
        <h3 class="text-center">{{c.title}}</h3>
        <div class="row">
            <div class="col" ng-repeat="cc in c.picture" ng-click="showImage(cc.image)">
                <img ng-src="{{'api/'+cc.image}}" style="width:100%;height:auto">
            </div>
        </div>
        <div class="p-3" ta-bind ng-model="c.content"></div>
        <div class="row  p-3 small">
            <div class="col-sm mb-3">
                <div class="g-3">Rekening</div>
                <div class="g-3"><span class="fa fa-coins"></span><span class="px-3">{{c.rek_bank}}</span></div>
                <div class="g-3"><span class="fa fa-qrcode"></span><span class="px-3">{{c.rek_rekno}}</span><span class="fa fa-copy"></span> </div>
                <div class="g-3"><span class="fa fa-user-tie"></span><span class="px-3">{{c.rek_an}}</span></div>
            </div>
            <div class="col-sm mb-3">
                <div>Contact</div>
                <div><span class="fa fa-user"></span><span class="px-3">{{c.contact_name}}</span></div>
                <div><span class="fa fa-phone"></span><span class="px-3">{{c.contact_phone}}</span></div>
                <div><span class="fa fa-envelope"></span><span class="px-3">{{c.contact_email}}</span></div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-12 px-2 p-1">
            <div class="progress" style="height:2em">
                <div class="progress-bar {{c.theme_bgtxt}} px-3" role="progressbar"
                style="width: {{amountPercent(c.amount,c.goal)}}%"
                aria-valuenow="{{amountPercent(c.amount,c.goal)}}"
                aria-valuemin="0"
                aria-valuemax="100">Rp. {{helper.toCurrency(c.amount)}} / Rp. {{helper.toCurrency(c.goal)}}</div>
            </div>
        </div>
    </div>
    <!-- <div class="row g-3 small"> -->
        <!-- <div class="col-6 px-2"> -->
        <div class="small">
            <div class="row">
                <div class="col">
                    <div>Mulai</div>
                    <div class="{{c.theme_bgtxt}} px-2 rounded border">{{helper.toFormat(c.start)}}</div>
                </div>
                <div class="col">
                    <div>Berakhir</div>
                    <div class="{{c.theme_bgtxt}} px-2 rounded border">{{helper.toFormat(c.stop)}}</div>

                </div>
            </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="col-6 px-2"> -->
        <!-- <div class="col p-2 px-3"> -->
            <div class="row">
                <div class="col">
                    <div>Terkumpul</div>
                    <div class="{{c.theme_bgtxt}} px-2 rounded border">{{helper.toCurrency(c.amount)}}</div>
                </div>
                <div class="col">
                    <div>Target</div>
                    <div class="{{c.theme_bgtxt}} px-2 rounded border">{{helper.toCurrency(c.goal)}}</div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    <!-- </div> -->

        <div class="col-12 py-3">
            <button class="btn btn-outline-secondary" type="button" ng-click="openComments(c)">
                <span class="fa fa-comment"></span>
            </button>
            <button class="btn btn-outline-secondary" type="button" ng-click="openDonatur(c)">
                <span class="fa fa-calculator"></span>
            </button>
            <button class="btn btn-outline-secondary" type="button" ng-click="openFormDonasi(c)">
                <span class="fa fa-heart"></span>&nbsp;&nbsp;&nbsp;Donasi
            </button>
        </div>
    </div>
</div>
<div class="text-center" ng-if="!table.length">
    <h3>{{alt.title}}</h3>
    <div class="mb-3">Tidak ada Penggalangan dana yang ditampilkan</div>

    <button type="button" class="btn btn-primary btn-lg" ng-click="editor()">
        <span class="fa fa-pencil"></span>&nbsp;&nbsp;Pergi ke Editor
    </button>
</div>
