<style media="screen">
    body{
        padding-top:20px;
    }
</style>

<div class="col-md-4 login">
    <div class="text-center">
        <img src="assets/img/handshake-128.png">
    </div>

    <div class="separator-double"></div>
    <h2 class="text-center header-small uppercase">{{alt.title}}</h2>
    <div class="separator"></div>
    <form class="row g-3" ng-submit="submit()">
        <div class="col-12">
            <input type="text" class="form-control" ng-model="data.email" placeholder="username icon" required>
        </div>
        <div class="col-12">
            <input type="{{show_password?'text':'password'}}" class="form-control" ng-model="data.password" placeholder="password icon" required>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" ng-model="show_password" id="show-password">
                <label class="form-check-label" for="show-password">&nbsp;&nbsp;Show Password</label>
            </div>
        </div>
        <div class="separator-double"></div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
<div alt-component="profile" data-scope="profile" ng-show="open_profile"></div>
